<h1>Items Needed:</h1>
<hr />

<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.item %> -
      <%= link_to 'Show', list_item_path(item.list_id, item.id) %> -
      <%= link_to 'Edit', edit_list_item_path(item.list_id, item.id) %> -
      <%= link_to 'Delete', list_item_path(item.list_id, item), method: :delete, data: {confirm: 'Are you sure you want to delete this item?'} %>

      <%= form_for [List.find(item.list_id), item] do |f| %>
        <%= f.label :completed %>
        <%= f.check_box :completed %>
        <br />
      <%= f.submit %>
      <% end %>

    </li>
  <% end %>
</ul>

<%= link_to 'New Item', new_list_item_path %>
<br />
<%= link_to 'Back to To-Do Lists', lists_path %>
